extends layout

block content
  h1 
    | hello there, #{name || "Stranger"}! 
    em WHAT IS THIS?!
  p What is this
  p I can write so many things...
  table
    tr
      td lulz
      td lulz
      td lulz
      td lulz
    tr
      td lulz
      td lulz
      td lulz
      td lulz
      td lulz
