extends layout

include mixins/_heroStore

block content
  .single
    .single__hero
      img.single__image(src='/images/site/hero.jpeg' style='object-position:top')
      .homepage__hero-content
        h1 Local food you'll love
        input.homepage__hero-input(type='text' placeholder='Search for food, coffee, bars and more...')
  
  .homepage__feature-details.inner
    .homepage__feature-container.homepage__feature-container--text 
      span 
       span This weeks
       br
       span top locations 
       br 
       span in 
       strong Amsterdam
    each store in stores
      +heroStore(store)
  .homepage__divider
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 0 500 100")
      path(d="M -10 0 Q 125 0, 250 50, 375 100, 510 50 L 510 100 L -10 100 L -10 50Z" stroke="transparent" fill="#fcfcfc")
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 0 500 100" style='margin-top:300px;position:relative;z-index:2')
      path(d="M -10 0 Q 125 0, 250 50, 375 100, 510 50 L 510 100 L -10 100 L -10 50Z" stroke="transparent" fill="#efefef")
  .homepage__feature-details.inner
    .homepage__feature-container.homepage__feature-container--text.homepage__gradient-2
      span 
       span New Openings 
       br 
       span in 
       strong Amsterdam
    each store in stores
      +heroStore(store)
