.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding: 0 30px;
  z-index:10;
  &__section {
    display: flex;
    &--search {
      flex: 1 1 auto;
    }
  }
  &__item {
    display: flex;
  }
  &__link {
    background: transparent;
    color: white;
    text-transform: uppercase;
    margin: 2rem 0;
    padding:10px 20px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    &--logo {
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 200px;
        margin: 0;
      }
    }
  }
  &__link--border {
    border:1px solid rgba(255,255,255,0.75);
    margin: 2rem 1.2rem;
  }
  &--solid {
    background:#333;
    position:relative;
  }
}


@media all and (max-width: 1200px) {
  .nav {
    &__link {
      padding-left: 1rem;
      padding-right: 1rem;
      svg {
        width: 30px;
      }
      &--logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .nav {
    flex-wrap:wrap;
    &__section {
      order: 1;
      &--search {
        border-top: 1px solid rgba(255,255,255,0.1);
        order: 2;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 650px) {
  .nav {
    &__section {
      width: 100%;
      &--user {
        order: -1;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        .avatar {
          min-width: 20px;
          height: 20px;
        }
        svg {
          display: none;
        }
      }
    }
    &__item {
      width: 33.333333%;
    }
    &__link {
      width: 100%;
      svg {
        // width: 5px;
        max-width: 100%;
      }
      &--logo {
        svg {
          width:100%;
        }
      }
    }
  }
  .heart-count:before {
    content: '♥️';
    margin-right: 1rem;
  }
}
